
<!--this is the first page for reg users in addition to the base.htm and conditons to what will show-->
{% extends "base.html" %}

{% block content %}



  {% if user.is_authenticated %}
    <p>welcome,
      {{ user.username }} <br></br>

      <p><h3>&#10133;</h3><a href="{% url 'add_gallery' %}">Create new GaL|3rY</a></p>

      <p><h3>&#10133;</h3><a href="{% url 'add_photo' %}">Add photos to GaL|3rY</a></p>


      <p><h3>&#x25EF;</h3><a href="{% url 'list_gallery' %}">View GaL|3rY</a></p><br></br>




      <p><a href="{% url 'auth_logout' %}">LoG 0u7</a></p>
  {% else %}
    <p>
      <a href="{% url 'auth_login' %}">LoG |n</a>|
      <a href="{% url 'registration_register' %}">R3gist3r</a>
    </p>
  {% endif %}
{% endblock %}


