

{% extends "base.html" %}

{% block content %}
<p>hello {{ user.username }}, Select a Library to View its Content</p>

    {% for gallery in galleries %}
    <a href="{% url 'list_pictures' gallery.pk %}"><h3>{{gallery.title }}</h3></a>
    
    <a href="{% url 'list_pictures' gallery.pk %}"><p>{{gallery.description}}</p></a>
    <a href="{% url 'add_photo' %}"><p>add to {{gallery.title }} GaL|3rY <br></br><a href="{% url 'delete_gallery' gallery.pk %}">delete {{gallery.title }} GaL|3rY</a>


    {% if gallery.image %}
    <a href="{% url 'list_pictures' gallery.pk %}"><img src='{{ gallery.thumbnail.url}}'
        alt="add photo to gallery"></a>
    {% endif %}
    {% empty %}
        <p>hello {{ user.username }} you have no galleries added</p>
    {% endfor %}




{% endblock %}

