
{% extends "base.html" %}

{% block content %}

<p><h3>{{ user.username }},</h3>Welcome to the GaL|3rY named: {{gallery.title }}</p>
<a href="{% url 'list_pictures' gallery.pk %}"><img src='{{ gallery.thumbnail.url}}'
    alt="add photo to gallery"></a></p>



{% for image in gallery.pictures.all %}


<br></br>

    <p>Picture name:</p>{{image.title }}
    <p>Picture description:<p>{{image.description }}
<img src='{{image.image.url}}'/>
<p><a href="{% url 'add_photo' %}">To add more photos this GaL|3rY click here</a></p>
{% if image.comments %}
    {% for comment in image.comments.all %} 
    <p>{{ comment.date }}</p>
    <p class="tr">{{ comment.text }}</p>
    {% endfor %}
{% endif %}


<p><a href="{% url 'add_comment' image_pk=image.pk %}">To add comment this picture click here</a></p>

{% empty %}

<p>You currently have no photos added to this GaL|3rY.</p>
<p>To start adding photos this GaL|3rY <a href="{% url 'add_photo' %}"><h4>click here.</h4></a></p>


{% endfor %}

{% endblock %}


<div class="row">
    <div class="column">
      <div class="card">
        <img src="img1.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title">CEO &amp; Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

<!--% if gallery.image %why don't i need to use if --else ? -->

