
h2 {
    font-size: 40px;

}


body {
  background-color: #e0e5eb;
  padding: 60px;
  font-family: Arial;

}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 35%;
  padding: 0 8px;
  margin-bottom: 16px;
}

.card {
  box-shadow: 0 4px 12px 0 rgba(59, 58, 58, 0.568);
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
/* Center website */
.main {
  max-width: 900px;
  margin: auto;
}


/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}



@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}







